//
// Tables
// --------------------------------------------------

//
// Define Tables
// --------------------------------------------------
.table{
    width: 100%;
    margin: @table-margin;

    th{
        padding: @table-head-padding;
        border: @table-head-border;
        background-color: @table-head-bg;
        text-align: @table-head-align;

        font-weight: normal;
        border-bottom: none;
    }
    td{
        padding: @table-cell-padding;
        border: @table-cell-border;
        background-color: @table-cell-bg;
        text-align: @table-cell-align;
    }
}

@media screen and (max-width: @grid-float-breakpoint) {
    .table-stacked{
        th{
            display: none;
        }
        td{
            display: block;
            text-align: left;
        }

        // No headers if the no-headers class is present
        &:not(.no-headers) {
            td {
                &:before {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    content: attr(data-header);
                    font-weight: bold;
                }
            }
        }
    }
}